{% extends 'uniMarcaBundle::layout.html.twig' %}


{% block cuerpo %}
    
    <h1>Listado de noticias con este titulo: {{titulo}}:</h1>
 <tbody>
        {% for entity in entities %}
            
            
        <h2><a href="{{ path('noticias_show', { 'id': entity.id }) }}">{{ entity.titulo }}</a></h2>
              
        <h6>{{ entity.autor }} --
                
                    {% if entity.fechaPub %}{{ entity.fechaPub|date('Y-m-d') }}{% endif %}</h6>
                
               
       
                <img src="{{ asset('bundles/unimarca/imagenes/'~ entity.foto  ~ '') }}" width=20% height=20%/>
                <br>
                <br>
                
                
                
                
        {% endfor %}
        </tbody>
  

        <ul>
        <li>
            <a href="{{ path('noticias_new') }}">
                Create a new entry
            </a>
        </li> 
        
    </ul>
      
    
{% endblock %}

