{% extends 'uniMarcaBundle::layout.html.twig' %}

{% block cuerpo -%}
    

    <table class="record_properties">
        <tbody>
          
            <tr>
               
                <td><h1><text align="center>">{{ entity.titulo }}<text></h1></td>
            </tr>
              
                
                
        <h6> {{ entity.autor }} {{ entity.fechaPub|date('Y-m-d') }}</h6>
            
            
                
               
                
            <tr>
                
                <td><text align="center>"><font size="4">{{ entity.contenido }}</font></text></td>
            </tr>
            <tr>
                
                <td><img src="{{ asset('bundles/unimarca/imagenes/'~ entity.foto  ~ '') }}" width=50% height=50%/></td>
            </tr>
          
        </tbody>
    </table>

     
            <h5>COMENTARIOS:</h5> 
            {% for comen in entity.notcoms %}
            
                
                
        <a href="{{ path('comentarios_show', { 'id': comen.id }) }}">{{ comen.nombreCom }}</a>
        <br>
        
         <a>{{ comen.descCom }}</a>
         <br>
         <br>                    
                
             {% endfor %}
             
             
              
             {% for anuncio in entity.notanun %}
            
                
                 <font size="2"><div align="right"><a href="{{ path('anuncios_show', { 'id': anuncio.id }) }}">{{ anuncio.nombre }}</a>
        <br>
        
        <a>{{ anuncio.texto}}</a> </div></font>
         <br>
         <br>                    
                
             {% endfor %}
           
             
            
            
        <ul class="record_actions">
    <li>
        <a href="{{ path('noticias') }}">
            Volver
        </a>
        <li>
            <a href="{{ path('noticias_edit', { 'id': entity.id }) }}">Editar</a>
        </li>
    </li>
  
{% endblock %}
